<section class="card">
    <h2 class="card-header">Create New Post</h2>
    <form action="" class="new-post-form card-body">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title">
        </div>
        <div>
            <label for="">Body</label>
            <textarea id="post-body"></textarea>
        </div>
        <button type="submit" class"btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li class="dashboard-posts">
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}"><button type="button" class="btn btn-secondary edit-button">Edit post</button></a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>