<section>
    <h2>Create New Post</h2>
    <form action="" class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title">
        </div>
        <div>
            <label for="">Body</label>
            <textarea id="post-body"></textarea>
        </div>
        <button type="submit" class"btn">Create</button>
    </form>
</section>