* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #DAE0E6;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
}

/* main */
main {
    width: 65%;
    margin: 2% auto;
}

/* footer */